body{
   margin : 0px !important;
   overflow-x: hidden; 
}
main {
   min-height: 80vh;
   width : 100%;
   overflow-x: hidden; 
   padding:0 80px;


}
 @media screen and (max-width: 480px) {
    main {
   min-height: 80vh;
   width : 100%;
   overflow-x: hidden; 
   padding:0 30px;


}

  }

h1{
   font-size: 1.8rem;
    padding: 1rem 0;
}

h2{
   font-size: 1.4rem;
   padding: 0.5rem 0;
}

span {
   font-size: 1.1rem !important;
   padding: 1;
   color: white;
}

.react-star {
  margin-top: -0.33rem;
}

.button{
width: 100%;
}

.button:focus {
    outline: none !important;
    outline-offset: none !important;
}

#username::after{
      color: white;
   }

#username :hover {
color: #D6F7F8 !important;

}

.menuItem {
   color:  #3E4B59 !important;
  text-align: center !important;
  padding: 5px !important;
}

.link {
text-decoration: none !important;
}


.deleteButton {
 color: #3E4B59;
 margin: auto;
 
}

.deleteButton :hover {
color: #FD9096;

}
